<h1>Users</h1>

<app-loading [loading]="loading"></app-loading>

<table border="1" cellpadding="5" *ngIf="!loading">
  <thead>
  <tr>
    <th *ngFor="let col of columns">{{ col.title }}</th>
    <th *ngFor="let sch of schemaItems">{{ sch.key }}</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let s of items">
    <td *ngFor="let col of columns">{{ s[col.key] }}</td>
    <td *ngFor="let sch of schemaItems">{{ s[sch.key] }}</td>
    <td>
      <span *ngIf="enabledOperations.edit" class="fa">Edit</span> |
      <span *ngIf="enabledOperations.delete" class="fa" (click)="reactToDeleteEvent(s)">Delete</span>
    </td>
  </tr>
  </tbody>
</table>

<h2>Add new users</h2>
<div>
  <form (submit)="createElement()">
    <ng-container *ngFor="let col of columns">
      <div class="form-group" *ngIf="!col.hasOwnProperty('ignoreInForm')">
        <label [for]="col.key">{{col.title}}: </label>
        <input type="text" [(ngModel)]="elementToCreate[col.key]" [id]="col.key" [name]="col.key"/>
      </div>
    </ng-container>

    <ng-container *ngFor="let col of schemaItems">
      <div class="form-group">
        <label [for]="col.key">{{col.key}}: </label>
        <input type="text" [(ngModel)]="elementExtraColumns[col.key]" [id]="col.key" [name]="col.key"/>
      </div>
    </ng-container>

    <div class="form-actions">
      <input type="submit" value="Create!"/>
    </div>
  </form>
</div>
