/* You can add global styles to this file, and also import other style files */
$linkColour: white;

.toolbar {
  a {
    &:visited, &:hover {
      color: $linkColour !important;
    }


    color: $linkColour !important;

    margin-right: 1rem;
  }
}

.fa {
  &:hover {
    cursor: pointer;
    color: orangered;
  }
}

footer {
  padding-top: 3rem;
}
